.container {
  width: 100%;
  margin: 0 auto;
  @include alumnisans;

  @include desktop-width {
    width: 1366px;
  }

  @include tablet-width {
    width: $vp-768;
  }

  @include mobile-width {
    max-width: $vp-320;
  }
}
