.main-header {
  color: $color-default-white;
  background: conic-gradient(from 163deg at 19.03% 40.06%,$color-neon-blue 1deg,$color-torch-red 280deg,$color-neon-blue 100%);
  padding: 30px 103px 51px;

  @include tablet-width {
    padding: 40px 45px 82px;
    background: conic-gradient(from 170deg at 23.7% 39.74%,$color-neon-blue 1deg,$color-torch-red 275deg,$color-neon-blue 100%);
  }

  @include mobile-width {
    padding: 20px 15px 80px;
    background: conic-gradient(from 217deg at 41.31% 37.22%,$color-neon-blue 28deg,$color-torch-red 261deg,$color-neon-blue 100%);
  }
}
